body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.icon path {
    fill:black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
td {
    word-break: break-word;
}